# Django Configuration
SECRET_KEY=django-insecure-m@(%o%a^g_qov+*yq)9s84+qvlmvs^$b_jiqkdj5gp)r5#daf4
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Database Configuration
DATABASE_NAME=db.sqlite3
DATABASE_ENGINE=django.db.backends.sqlite3
# For external databases (optional)
# DATABASE_USER=
# DATABASE_PASSWORD=
# DATABASE_HOST=
# DATABASE_PORT=

# Celery and Redis Configuration
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
